<!-- partial:partial/_banner.html -->
<div class="banner">
  <div class="content">
    <h2>台灣 Angular 社群小聚 </h2>
    <h3>用企業級的平台在前端世界乘風破浪</h3>
    <h4>106/06/24(六) 13:00~17:00</h4>
    <h4><a href="#location">台北市松山區八德路四段123號3樓</a></h4>
    <a href="http://www.accupass.com/go/ngtw2017" class="btn btn-lg btn-blulegreen" style="margin-top:30px">立即報名</a>
  </div>
</div>
<div class="news">
  <div class="container text-left">
    <p class="title text-center">活動簡介</p>
    <p>
      前端的世界就像海洋一樣深不可測，看似平靜的海面往往潛藏著暗潮洶湧，因此有許多人望海興嘆，遲遲不敢順著潮流推進。但也有不少前端勇者，不畏巨浪、奮勇向前，有的徒手入海...陣亡了，有的泥船渡河...放棄了。面對一望無際的海洋，大家總在風平浪靜時啟航，因此在一開始的時候，總是比較順利，也沒有太大的挑戰。但隨著目標越大、越遠，海浪自然是愈加劇烈，如果沒有事先做好準備，不是裹足不前，就是辛苦奮戰。
    </p><br>
    <p>
      優異的 Angular 前端框架經過多年的淬鍊發展，已經醞釀出完整的開發生態系，不但擁有豐富的開發工具與外掛，還有大量現成的<a href="https://github.com/brillout/awesome-angular-components"
        target="_blank">UI 元件與函式庫</a>可用，更可整合市面上大量的 jQuery, jQuery UI 或其他 VanillaJS 前端套件，世界上也越來越多以 Angular
      完成的
      <a href="http://angularexpo.com/" target="_blank">作品</a>。這些都是幫助各位在前端世界乘風破浪的關鍵要素。本次我們特別邀請到 7 位講者，用一個下午的時間，釋放你的大腦、打開你的眼界，歡迎
      6/24 (六) 跟我們一起.乘.風.破.浪.！
    </p>
  </div>
</div>
<!-- partial -->
<!--<div class="news" style="background: #f5f5f5;">
  <div class="container text-left" id="info">
    <p class="title text-center">活動資訊</p>
    <p>活動日期：106/06/24 下午 1 點至下午 5 點</p>
    <p>活動地點：台北市松山區八德路四段123號3樓</p>
    <p>主辦單位：<a href="https://www.facebook.com/groups/augularjs.tw/" target="_blank">Angular User Group Taiwan</a></p>
    <p>協辦單位：<a href="http://www.miniasp.com/" target="_blank">多奇數位創意有限公司</a></p>
    <p class="text-center">
      <a href="http://www.accupass.com/go/ngtw2017" class="btn btn-lg">立即報名</a>
    </p>
  </div>
</div>-->
<!-- partial:partial/_circle-type.html -->
<div class="circle-type" id="speakers">
  <div class="container">
    <p class="title text-center">講者介紹</p>
    <div *ngFor="let speaker of speakers;let i=index;" [ngClass]="{'row': i%4==3}">
      <div class="col-sm-6 col-md-3 item">
        <div class="photo">
          <img [src]="speaker.photo">
        </div>
        <h4>{{ speaker.name }}</h4>
        <p>{{ speaker.description }}
        </p>
      </div>
    </div>
  </div>
</div>
<div class="table-wrap" style="background: #f5f5f5;" id="schedule">
  <div class="container">
    <p class="title text-center">活動議程</p>
    <table class="table schedule">
      <thead>
        <tr>
          <th>時間</th>
          <th>議程</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>12:50 ~ 13:05</td>
          <td>
            <p class="sub-title">
              報到
            </p>
          </td>
        </tr>
        <tr>
          <td>
            13:05 ~ 13:10
          </td>
          <td>
            <p class="sub-title">
              Opening
            </p>
          </td>
        </tr>
        <tr>
          <td>13:10 ~ 13:50</td>
          <td>
            <div class="row">
              <div class="col col-lg-2 col-md-3 col-sm-4 col-xs-12">
                <div class="speaker">
                  <div class="photo">
                    <img src="assets/img/events/2017/jerryHong.jpg">
                  </div>
                </div>
              </div>
              <div class="col col-lg-10 col-md-9 col-sm-8 col-xs-12">
                <p class="title">
                  Angular 與 PWA - Offline WebSite
                </p>
                <p class="title speaker-name">洪名辰</p>
                <p class="description">
                  在這個時代，網頁已經離不開我們每天的生活，網頁應用程式化的腳步也逐漸的再加劇，其中「離線存取」勢必成為網頁面臨的最大挑戰。在這次的分享當中，我會講解網頁技術上是如何實現離線瀏覽的，並示範要如何把一個現成的
                  Angular 專案加入離線功能。
                </p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>13:50 ~ 14:00</td>
          <td>
            <p class="sub-title">
              休息片刻
            </p>
          </td>
        </tr>
        <tr>
          <td>14:00 ~ 14:15</td>
          <td>
            <div class="row">
              <div class="col col-lg-2 col-md-3 col-sm-4 col-xs-12">
                <div class="speaker">
                  <div class="photo">
                    <img src="assets/img/events/2017/sam.jpg">
                  </div>
                </div>
              </div>
              <div class="col col-lg-10 col-md-9 col-sm-8 col-xs-12">
                <p class="title">
                  企業導入 Angular 作為前端開發架構的好處
                </p>
                <p class="title speaker-name">Sam</p>
                <p class="description">
                  神腦國際實際在前端導入 Angular，後端配合 .NET Web API 2，在前後端分離的架構下，發現很多傳統後端 MVC + jQuery 所沒有的好處。
                </p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>14:15 ~ 14:30</td>
          <td>
            <div class="row">
              <div class="col col-lg-2 col-md-3 col-sm-4 col-xs-12">
                <div class="speaker">
                  <div class="photo">
                    <img src="assets/img/events/2017/haru.jpg">
                  </div>
                </div>
              </div>
              <div class="col col-lg-10 col-md-9 col-sm-8 col-xs-12">
                <p class="title">
                  Angular Animation 快速上手
                </p>
                <p class="title speaker-name">Haru</p>
                <p class="description">
                  Angular 已經 4.0 了，在動畫的部分也提供了相當方便且直覺的實作方式， 這次的分享要帶給大家一些使用 Angular animation 的核心觀念，如何在 15 分鐘內快速建立一個 loading
                  box，輕鬆愉快沒負擔！
                </p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>14:30 ~ 14:45</td>
          <td>
            <div class="row">
              <div class="col col-lg-2 col-md-3 col-sm-4 col-xs-12">
                <div class="speaker">
                  <div class="photo">
                    <img src="assets/img/events/2017/jimmy.jpg">
                  </div>
                </div>
              </div>
              <div class="col col-lg-10 col-md-9 col-sm-8 col-xs-12">
                <p class="title">
                  開發多國語網站： i18n由淺入深
                </p>
                <p class="title speaker-name">Jimmy ho</p>
                <p class="description">
                  一個要提供給國際使用的網站，一定會遇到多國語系的問題，Angular已經幫我們想好解決方案，i18n，一起進入這個世界探索吧!
                </p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>14:45 ~ 15:00</td>
          <td>
            <div class="row">
              <div class="col col-lg-2 col-md-3 col-sm-4 col-xs-12">
                <div class="speaker">
                  <div class="photo">
                    <img src="assets/img/events/2017/jeff.jpg">
                  </div>
                </div>
              </div>
              <div class="col col-lg-10 col-md-9 col-sm-8 col-xs-12">
                <p class="title">
                  Angular 4 效能調教：NgZone 的原理與應用
                </p>
                <p class="title speaker-name">Jeff</p>
                <p class="description">
                  使用 Angular 進行開發的你，已經知道元件之間的資料傳輸機制，例如屬性綁定進行輸入、事件綁定進行輸出。 也許你會有這樣的疑問: Angular 是在什麼時候，又是如何進行變更偵測的？以及要如何透過
                  NgZone 來改善效能，就讓我們來體驗一下 NgZone 所帶來的奇幻旅程!
                </p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>15:00 ~ 15:15</td>
          <td>
            <div class="row">
              <div class="col col-lg-2 col-md-3 col-sm-4 col-xs-12">
                <div class="speaker">
                  <div class="photo">
                    <img src="assets/img/events/2017/lala.jpg">
                  </div>
                </div>
              </div>
              <div class="col col-lg-10 col-md-9 col-sm-8 col-xs-12">
                <p class="title">
                  活用 Angular 模組機制：在多個專案間共用程式碼的技巧
                </p>
                <p class="title speaker-name">拉拉醬</p>
                <p class="description">
                  同質性專案都會使用到類似的元件，利用Angular的模組化功能，可以把共用元件抽到ShareModule中，搭配Git Subtree做ShareModule的版控，便可以在不同的專案中使用及回饋更新元件，增加開發的效率。
                </p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>15:15 ~ 15:30</td>
          <td>
            <p class="sub-title">
              休息片刻，交流時間
            </p>
          </td>
        </tr>
        <tr>
          <td>15:30 ~ 16:10</td>
          <td>
            <div class="row">
              <div class="col col-lg-2 col-md-3 col-sm-4 col-xs-12">
                <div class="speaker">
                  <div class="photo">
                    <img src="assets/img/events/2017/will.jpg">
                  </div>
                </div>
              </div>
              <div class="col col-lg-10 col-md-9 col-sm-8 col-xs-12">
                <p class="title">
                  優化 Angular 團隊開發流程：實現 DevOps 開發維運一體化
                </p>
                <p class="title speaker-name">Will 保哥</p>
                <p class="description"> 在多人的開發團隊中建構一個 Angular 網站，需考慮彼此之間如何分工合作，對模組與元件也須進行適當的架構規劃，開發習慣與程式碼樣式也需建立規範，這樣才能提高應用程式的可維護性。當系統需要進行整合時，又該如何實現持續整合與部署？又該如何監控線上
                  Angular 應用程的執行效能與問題分析？本次演說將帶大家細說從頭，了解在 Angular 如何實踐 DevOps 流程。
                </p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>16:10 ~ 17:00</td>
          <td>
            <p class="title">
              AMA時間
            </p>
            <p class="description">
              您可以在詢問講者們任何問題。透過問答的交流方式，讓與會的朋友們，可以有更進一步的收穫。
            </p>
          </td>
        </tr>
        <tr>
          <td>17:00</td>
          <td>
            <p class="sub-title">
              Closing
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="location" id="location">
  <div class="container">
    <h2>活動地點</h2>
    <iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1807.2884967704706!2d121.56083192848847!3d25.04842560232187!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442ab9565b4db9f%3A0x451c1d6d0fd649e6!2zQ0xCQyBUaGUgRmxhZ3NoaXAg5aSn6Ii56Imm5ZWG5YuZ6L6m5YWs5a6k!5e0!3m2!1szh-TW!2stw!4v1494251280429"></iframe>
    <h3>交通指引 HOW TO GET HERE</h3>
    <h4>搭乘捷運 BY MRT</h4>
    <p>捷運松山線捷運南京三民站下車，2 號出口後沿吉祥路往中崙高中、京華城方向步行約 5 分鐘即可抵達。</p>
    <h4>
      自行駕車、騎車前往 BY SELF-DRIVE
    </h4>
    <p>鄰近有「京華城」、「中興嘟嘟房」可停。
    </p>
    <h4>
      搭乘公車 BY BUS
    </h4>
    <p> 605、605 (新台五線)、205、257、276 → 在「京華城」站下車再步行至八德路四段即可抵達。</p>
  </div>
</div>
<!--<augt-photos></augt-photos>-->
<div class="sponsor">
  <div class="container">
    <p class="text-center">
      <span>主辦單位：<a href="https://www.facebook.com/groups/augularjs.tw/" target="_blank">Angular User Group Taiwan</a> </span>
      <span>協辦單位：<a href="http://www.miniasp.com/" target="_blank">多奇數位創意有限公司</a></span>
    </p>
  </div>
</div>
<!--<augt-contact></augt-contact>-->

<a href="#0" class="cd-top">Top</a>
