<!-- partial:partial/_banner.html -->
<div class="banner">
  <div class="content">
    <h2>{{ title }}</h2>
    <p>{{ description }}</p>
  </div>
</div>
<!-- partial -->
<div class="news">
  <div class="container text-center">
    <p class="title">活動資訊</p>
    <p>日期：106 年 6 月 24 日 13:00 ~ 17:00</p>
    <p>地點：台北市松山區八德路四段123號3樓</p>
    <p>主辦單位：Angular User Group Taiwan</p>
    <p>協辦單位：多奇數位創意有限公司</p>
    <a href="#" class="btn btn-lg">立即報名</a>
  </div>
</div>
<!-- partial:partial/_circle-type.html -->
<div class="circle-type" style="background: #f5f5f5;">
  <div class="container">
    <p class="title text-center">講者介紹</p>
    <div class="col-sm-6 col-md-3 item" *ngFor="let speaker of speakers">
      <div class="photo">
        <img [src]="speaker.photo">
      </div>
      <h4>{{ speaker.name }}</h4>
      <p>{{ speaker.description }}
      </p>
    </div>
  </div>
</div>
<div class="table-wrap">
  <div class="container">
    <p class="title text-center">活動議程</p>
    <table class="table">
      <thead>
        <tr>
          <th>時間</th>
          <th>議程</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>12:50~13:05</td>
          <td>
            <p class="title">
              報到
            </p>
          </td>
        </tr>
        <tr>
          <td>13:05~13:10</td>
          <td>
            <p class="title">
              Opening
            </p>
          </td>
        </tr>
        <tr>
          <td>13:10~14:00</td>
          <td>
            <p class="title">
              Angular 與 PWA - Offline WebSite
            </p>
            <p class="description">
              在這個時代，網頁已經離不開我們每天的生活，網頁應用程式化的腳步也逐漸的再加劇，其中「離線存取」勢必成為網頁面臨的最大挑戰。在這次的分享當中，我會講解網頁技術上是如何實現離線瀏覽的，並示範要如何把一個現成的 Angular 專案加入離線功能。
            </p>
          </td>
        </tr>
        <tr>
          <td>14:01~14:16</td>
          <td>
            <p class="title">
              企業導入 Angular 作為前端開發架構的好處
            </p>
            <p class="description">
              神腦國際實際在前端導入 Angular，後端配合 .NET Web API 2，在前後端分離的架構下，發現很多傳統後端 MVC + jQuery 所沒有的好處。
            </p>
          </td>
        </tr>
        <tr>
          <td>14:17~14:32</td>
          <td>
            <p class="title">
              Angular Animation 快速上手
            </p>
            <p class="description">
              Angular 已經 4.0 了，在動畫的部分也提供了相當方便且直覺的實作方式， 這次的分享要帶給大家一些使用 Angular animation 的核心觀念，如何在 15 分鐘內快速建立一個 loading box，輕鬆愉快沒負擔！
            </p>
          </td>
        </tr>
        <tr>
          <td>14:33~14:48</td>
          <td>
            <p class="title">
              i18n由淺入深
            </p>
            <p class="description">
              一個要提供給國際使用的網站，一定會遇到多國語系的問題，Angular已經幫我們想好解決方案，i18n，一起進入這個世界探索吧!
            </p>
          </td>
        </tr>
        <tr>
          <td>14:49~15:04</td>
          <td>
            <p class="title">
              ngZone
            </p>
            <p class="description">
              ngZone
            </p>
          </td>
        </tr>
        <tr>
          <td>15:05~15:20</td>
          <td>
            <p class="title">同質性專案使用 Angular 模組搭配 Git Subtree</p>
            <p class="description">
              同質性專案都會使用到類似的元件，利用Angular的模組化功能，可以把共用元件抽到ShareModule中，搭配Git Subtree做ShareModule的版控，便可以在不同的專案中使用及回饋更新元件，增加開發的效率。
            </p>
          </td>
        </tr>
        <tr>
          <td>15:20 ~ 15:30</td>
          <td>
            <p class="title">
              休息片刻
            </p>
          </td>
        </tr>
        <tr>
          <td>15:30~16:30</td>
          <td>
            <p class="title"> 優化 Angular 團隊開發流程：實現 DevOps 開發維運一體化</p>
            <p class="description"> 在多人的開發團隊中建構一個 Angular 網站，需考慮彼此之間如何分工合作，對模組與元件也須進行適當的架構規劃，開發習慣與程式碼樣式也需建立規範，這樣才能提高應用程式的可維護性。當系統需要進行整合時，又該如何實現持續整合與部署？又該如何監控線上
              Angular 應用程的執行效能與問題分析？本次演說將帶大家細說從頭，了解在 Angular 如何實踐 DevOps 流程。
            </p>
          </td>
        </tr>
        <tr>
          <td>16:30~17:00</td>
          <td>
            <p class="title">
              AMA
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="location">
  <div class="container">
    <h2>活動地點</h2>
    <iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1807.2884967704706!2d121.56083192848847!3d25.04842560232187!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442ab9565b4db9f%3A0x451c1d6d0fd649e6!2zQ0xCQyBUaGUgRmxhZ3NoaXAg5aSn6Ii56Imm5ZWG5YuZ6L6m5YWs5a6k!5e0!3m2!1szh-TW!2stw!4v1494251280429"></iframe>
    <h3>交通指引 HOW TO GET HERE</h3>
    <h4>搭乘捷運 BY MRT</h4>
    <p>捷運松山線捷運南京三民站下車，2 號出口後沿吉祥路往中崙高中、京華城方向步行約 5 分鐘即可抵達。</p>
    <h4>
      自行駕車、騎車前往 BY SELF-DRIVE
    </h4>
    <p>鄰近有「京華城」、「中興嘟嘟房」可停。
    </p>
    <h4>
      搭乘公車 BY BUS 搭乘公車
    </h4>
    <p> 605、605 (新台五線)、205、257、276 → 在「京華城」站下車再步行至八德路四段即可抵達。</p>
  </div>
</div>
<!--<augt-photos></augt-photos>-->
<augt-contact></augt-contact>
