.speaker-introduction{
  padding: 0px;
  background-color: #f5f5f5;

}

.news {
  background: #f5f5f5;
  .btn {
    width: auto;
  }
}

.container{
    h2{
      text-align: center;
      margin-top: 30px;
      margin-bottom: 24px;
    }
}

.speaker-name {
  margin-top: 5px;
}

h4 a{
  color: inherit;
}

.sponsor {
  margin: 60px 0;
  span {
    font-size: 20px;
    margin: 0 20px;
  }
}

@media(max-width: 480px) {
  .sponsor {
    span {
      font-size: 18px;
      display: block;
    }
  }
}

// .table-wrap{
//   .table tbody tr td {
//     font-size: 16px;
//     border-top: 5px solid #fff;
//     vertical-align: middle;
//     text-align: center;
//   }
//   .table thead tr th {
//     background: #ccc;
//   }
//   .table tbody tr td {
//     background: #f7f7f7;
//   }
//   .table tbody tr:nth-child(odd){
//       td{
//         background: #fff;
//       }
//   }

//   .table .title{
//     font-size: 18px;
//     font-weight: 600;
//     margin-bottom: 10px;
//   }
//   .description{
//     text-align: left;
//   }
// }

// .location
// {
//   background-color: #f5f5f5;
//   margin-bottom: 20px;
//   h3{
//     margin-bottom: 20px;
//     font-weight: 600;
//   }
//   h4{
//     color: #de6d48;
//   }

//   p{
//     margin-top: 0;
//     margin-bottom: 20px;

//   }
// }
