.speaker-introduction{
  padding: 0px;
  background-color: #f5f5f5;

}

.container{
    h2{
      text-align: center;
      margin-top: 30px;
      margin-bottom: 24px;
    }
}

.schedule{
  .row{
    margin-bottom: 10px;
  }
  .time{
    text-align: center;
  }
  .title{
    font-size: 24px;
  }
  .description{

  }
}

.location{

}
