<!-- partial:partial/_banner.html -->
<div class="banner">
  <div class="content">
    <h2>Angular Taiwan 2017</h2>
    <p>Angular從Beta到正式，一直到現在的四版，也差不多有一年多的時間。這一年來，每個人在學習Angular的旅程上，不論是自己的小專案，或是公司的案子上，多少會遇到一些讓人無法忘記的痛苦經驗，或是解開成就的喜悅感。這次的活動，我們邀請大家來分享這一年來學習Angular的心得，內容也會很精彩，不能錯過!</p>
  </div>
</div>
<!-- partial -->
<!-- partial:partial/_circle-type.html -->
<div class="circle-type speaker-introduction">
  <div class="container">
    <h2>講者介紹</h2>
    <div class="col-md-3 item">
      <div class="photo">
        <img src="assets/img/img1.jpg">
      </div>
      <h4>MOBILE DESIGN</h4>
      <p>Lorem ipsum dolor sit amet, mutat graeco volumus ad eam, singulis patrioque comprehensam nam no. Mei cu dicat voluptaria
        volumus.
      </p>
    </div>
    <div class="col-md-3 item">
      <div class="photo">
        <img src="assets/img/img2.jpg">
      </div>
      <h4>MOBILE DESIGN</h4>
      <p>Lorem ipsum dolor sit amet, mutat graeco volumus ad eam, singulis patrioque comprehensam nam no. Mei cu dicat voluptaria
        volumus.
      </p>
    </div>
    <div class="col-md-3 item">
      <div class="photo">
        <img src="assets/img/img3.jpg">
      </div>
      <h4>MOBILE DESIGN</h4>
      <p>Lorem ipsum dolor sit amet, mutat graeco volumus ad eam, singulis patrioque comprehensam nam no. Mei cu dicat voluptaria
        volumus.
      </p>
    </div>
    <div class="col-md-3 item">
      <div class="photo">
        <img src="assets/img/img3.jpg">
      </div>
      <h4>MOBILE DESIGN</h4>
      <p>Lorem ipsum dolor sit amet, mutat graeco volumus ad eam, singulis patrioque comprehensam nam no. Mei cu dicat voluptaria
        volumus.
      </p>
    </div>
    <div class="col-md-3 item">
      <div class="photo">
        <img src="assets/img/img3.jpg">
      </div>
      <h4>MOBILE DESIGN</h4>
      <p>Lorem ipsum dolor sit amet, mutat graeco volumus ad eam, singulis patrioque comprehensam nam no. Mei cu dicat voluptaria
        volumus.
      </p>
    </div>
    <div class="col-md-3 item">
      <div class="photo">
        <img src="assets/img/img3.jpg">
      </div>
      <h4>MOBILE DESIGN</h4>
      <p>Lorem ipsum dolor sit amet, mutat graeco volumus ad eam, singulis patrioque comprehensam nam no. Mei cu dicat voluptaria
        volumus.
      </p>
    </div>
    <div class="col-md-3 item">
      <div class="photo">
        <img src="assets/img/img3.jpg">
      </div>
      <h4>MOBILE DESIGN</h4>
      <p>Lorem ipsum dolor sit amet, mutat graeco volumus ad eam, singulis patrioque comprehensam nam no. Mei cu dicat voluptaria
        volumus.
      </p>
    </div>
  </div>
</div>
<div class="schedule">
  <div class="container">
    <h2>活動議程</h2>
    <div class="row">
      <div class="col-md-3 item">
        <p class="time">
          12:50 ~ 13:05
        </p>
      </div>
      <div class="col-md-9 item">
        <p class="title">
          報到進場
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 item">
        <p class="time">
          13:05 ~ 13:10
        </p>
      </div>
      <div class="col-md-9 item">
        <p class="title">
          Opening
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 item">
        <p class="time">
          13:10 ~ 14:00
        </p>
      </div>
      <div class="col-md-9 item">
        <p class="title">
          Angular 與 PWA - Offline WebSite
        </p>
        <p class="description">
          在這個時代，網頁已經離不開我們每天的生活，網頁應用程式化的腳步也逐漸的再加劇，其中「離線存取」勢必成為網頁面臨的最大挑戰。在這次的分享當中，我會講解網頁技術上是如何實現離線瀏覽的，並示範要如何把一個現成的 Angular 專案加入離線功能。
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 item">
        <p class="time">
          14:01 ~ 14:16
        </p>
      </div>
      <div class="col-md-9 item">
        <p class="title">
          企業導入 Angular 作為前端開發架構的好處
        </p>
        <p class="description">
          神腦國際實際在前端導入 Angular，後端配合 .NET Web API 2，在前後端分離的架構下，發現很多傳統後端 MVC + jQuery 所沒有的好處。
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 item">
        <p class="time">
          14:17 ~ 14:32
        </p>
      </div>
      <div class="col-md-9 item">
        <p class="title">
          Angular Animation 快速上手
        </p>
        <p class="description">
          Angular 已經 4.0 了，在動畫的部分也提供了相當方便且直覺的實作方式， 這次的分享要帶給大家一些使用 Angular animation 的核心觀念，如何在 15 分鐘內快速建立一個 loading box，輕鬆愉快沒負擔！
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 item">
        <p class="time">
          14:33 ~ 14:48
        </p>
      </div>
      <div class="col-md-9 item">
        <p class="title">
          i18n由淺入深
        </p>
        <p class="description">
          一個要提供給國際使用的網站，一定會遇到多國語系的問題，Angular已經幫我們想好解決方案，i18n，一起進入這個世界探索吧!
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 item">
        <p class="time">
          14:49 ~ 15:04
        </p>
      </div>
      <div class="col-md-9 item">
        <p class="title">
          ngZone
        </p>
        <p class="description">
          ngZone
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 item">
        <p class="time">
          15:05 ~ 15:20
        </p>
      </div>
      <div class="col-md-9 item">
        <p class="title">同質性專案使用 Angular 模組搭配 Git Subtree</p>
        <p class="description">
          同質性專案都會使用到類似的元件，利用Angular的模組化功能，可以把共用元件抽到ShareModule中，搭配Git Subtree做ShareModule的版控，便可以在不同的專案中使用及回饋更新元件，增加開發的效率。
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 item">
        <p class="time">
          15:20 ~ 15:30
        </p>
      </div>
      <div class="col-md-9 item">
        <p class="title">休息片刻</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 item">
        <p class="time">
          15:30 ~ 16:30
        </p>
      </div>
      <div class="col-md-9 item">
        <p class="title"> 優化 Angular 團隊開發流程：實現 DevOps 開發維運一體化</p>
        <p class="description"> 在多人的開發團隊中建構一個 Angular 網站，需考慮彼此之間如何分工合作，對模組與元件也須進行適當的架構規劃，開發習慣與程式碼樣式也需建立規範，這樣才能提高應用程式的可維護性。當系統需要進行整合時，又該如何實現持續整合與部署？又該如何監控線上
          Angular 應用程的執行效能與問題分析？本次演說將帶大家細說從頭，了解在 Angular 如何實踐 DevOps 流程。
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 item">
        <p class="time">
          16:30 ~ 17:00
        </p>
      </div>
      <div class="col-md-9 item">
        <p class="title">AMA</p>
      </div>
    </div>
  </div>
</div>
<div class="location">
  <div class="container">
    <h2>活動地點</h2>

  </div>
</div>
<augt-photos></augt-photos>
<augt-contact></augt-contact>
<!-- partial -->
