<!-- partial:partial/_banner.html -->
<div class="banner">
  <div class="content">
    <h2>Angular User Group Taiwan</h2>
    <p>Angular User Group Taiwan 是一個位於台灣並專注於 Angular 網站開發框架的開放社團，任何人都可以自由加入社團，無須管理者批准，只要有任何一位社團成員審核即可。在這個社團內大家可以盡情的發布任何與 Angular
      有關的文章、課程、影片，或是提出任何相關 Angular 相關的問題與討論。</p>
  </div>
</div>
<!-- partial -->

<div class="media-wrap">
  <div class="container">
    <div class="row media">
      <div class="col-sm-4">
        <div class="photo"><img src="assets/img/img1.jpg"></div>
      </div>
      <div class="col-sm-8">
        <p class="title">Angular 線上讀書會</p>
        <p class="subtitle">主題：RxJS 常用 Operator 介紹與應用</p>
        <p>這次的線上讀書會請來了 Kevin Yang 為大家講解在實物上，我們常用的 Operator 有哪些，以及該如何去應用，其中還準備了一些選擇的秘訣，歡迎加入！</p>
      </div>
    </div>
    <div class="row media">
      <div class="col-sm-4">
        <div class="photo"><img src="assets/img/img1.jpg"></div>
      </div>
      <div class="col-sm-8">
        <p class="title">Angular 線上讀書會</p>
        <p class="subtitle">主題：RxJS 常用 Operator 介紹與應用</p>
        <p>這次的線上讀書會請來了 Kevin Yang 為大家講解在實物上，我們常用的 Operator 有哪些，以及該如何去應用，其中還準備了一些選擇的秘訣，歡迎加入！</p>
      </div>
    </div>
    <div class="row media">
      <div class="col-sm-4">
        <div class="photo"><img src="assets/img/img1.jpg"></div>
      </div>
      <div class="col-sm-8">
        <p class="title">Angular 線上讀書會</p>
        <p class="subtitle">主題：RxJS 常用 Operator 介紹與應用</p>
        <p>這次的線上讀書會請來了 Kevin Yang 為大家講解在實物上，我們常用的 Operator 有哪些，以及該如何去應用，其中還準備了一些選擇的秘訣，歡迎加入！</p>
      </div>
    </div>
  </div>
</div>
