<div class="square-type">
  <div class="container">
    <p class="title">社群成員</p>
    <p>AUGT 的社群成員，是由一群熱愛 Angular 的朋友所組成的，他們樂意分享自己在開發過程中遇到的各種經驗，並且不希望其他人再次遇到相同的困難，浪費美好的人生。 若你也樂意分享且有相同的心情或抱負，歡迎加入！
    </p>
    <div class="row content">
      <div class="col-sm-6 col-md-3 item">
        <div class="photo"><img src="assets/img/will.jpg"></div>
        <p>Will 保哥</p>
        <p>多奇數位創意 技術總監</p>
      </div>
      <div class="col-sm-6 col-md-3 item">
        <div class="photo"><img src="assets/img/kevin.jpg"></div>
        <p>Kevin Yang</p>
        <p>不務正業熱血工程師</p>
      </div>
      <div class="col-sm-6 col-md-3 item">
        <div class="photo"><img src="assets/img/jeff.jpg"></div>
        <p>Jeff ( 阿魯 )</p>
        <p>熱血前端工程師</p>
      </div>
      <div class="col-sm-6 col-md-3 item">
        <div class="photo"><img src="assets/img/boat.jpg"></div>
        <p>募集中</p>
        <p>快來一起跳坑！！</p>
      </div>
    </div>
    <p class="title">社群成員熱血招募中！！</p>
  </div>
</div>
