<div class="photos">
  <div class="container">
    <p class="title">活動花絮與影片</p>
    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consectetur, adipisci velit, sed quia non numquam.</p>
    <div class="row btn-wrap">
      <div class="col-xs-6 col-sm-3 item"><a href="#" class="btn active">ALL</a></div>
      <div class="col-xs-6 col-sm-3 item"><a href="#" class="btn">MOBILE</a></div>
      <div class="col-xs-6 col-sm-3 item"><a href="#" class="btn">WEB</a></div>
      <div class="col-xs-6 col-sm-3 item"><a href="#" class="btn">VR</a></div>
    </div>
    <div class="row photo-wrap">
      <div class="col-sm-6 col-md-4 photo-item">
        <div class="img"></div>
      </div>
      <div class="col-sm-6 col-md-4 photo-item">
        <div class="img"></div>
      </div>
      <div class="col-sm-6 col-md-4 photo-item">
        <div class="img"></div>
      </div>
      <div class="col-sm-6 col-md-4 photo-item">
        <div class="img"></div>
      </div>
      <div class="col-sm-6 col-md-4 photo-item">
        <div class="img"></div>
      </div>
      <div class="col-sm-6 col-md-4 photo-item">
        <div class="img"></div>
      </div>
    </div>
  </div>
</div>
