<!-- partial:partial/_banner.html -->
<div class="banner">
  <div class="content">
    <h2>Angular User Group Taiwan</h2>
    <p>Angular User Group Taiwan 是一個位於台灣並專注於 Angular 網站開發框架的開放社團，任何人都可以自由加入社團，無須管理者批准，只要有任何一位社團成員審核即可。在這個社團內大家可以盡情的發布任何與 Angular
      有關的文章、課程、影片，或是提出任何相關 Angular 相關的問題與討論。</p>
  </div>
</div>
<!-- partial -->

<!-- partial:partial/_circle-type.html -->
<div class="circle-type">
  <div class="container">
    <div class="col-md-4 item">
      <div class="photo">
        <img src="assets/img/img1.jpg">
      </div>
      <h4>MOBILE DESIGN</h4>
      <p>Lorem ipsum dolor sit amet, mutat graeco volumus ad eam, singulis patrioque comprehensam nam no. Mei cu dicat voluptaria
        volumus.
      </p>
    </div>
    <div class="col-md-4 item">
      <div class="photo">
        <img src="assets/img/img2.jpg">
      </div>
      <h4>MOBILE DESIGN</h4>
      <p>Lorem ipsum dolor sit amet, mutat graeco volumus ad eam, singulis patrioque comprehensam nam no. Mei cu dicat voluptaria
        volumus.
      </p>
    </div>
    <div class="col-md-4 item">
      <div class="photo">
        <img src="assets/img/img3.jpg">
      </div>
      <h4>MOBILE DESIGN</h4>
      <p>Lorem ipsum dolor sit amet, mutat graeco volumus ad eam, singulis patrioque comprehensam nam no. Mei cu dicat voluptaria
        volumus.
      </p>
    </div>
  </div>
</div>
<!-- partial -->

<!-- partial:partial/_square-type.html -->
<augt-squad></augt-squad>
<!-- partial -->

<!-- partial:partial/_photos.html -->
<augt-photos></augt-photos>
<!-- partial -->

<div class="circle-single">
  <div class="container">
    <p class="title">“Nunc velit risus, dapibus non interdum quis, suscipit nec dolor.”</p>
    <div class="photo"></div>
    <p>Greg Frost</p>
    <p>CEO, ABC</p>
  </div>
</div>
<augt-contact></augt-contact>
