<!-- partial:partial/_banner.html -->
<div class="banner">
  <div class="content">
    <h2>Angular User Group Taiwan</h2>
    <p>Angular User Group Taiwan 是一個位於台灣並專注於 Angular 網站開發框架的開放社團，任何人都可以自由加入社團，無須管理者批准，只要有任何一位社團成員審核即可。在這個社團內大家可以盡情的發布任何與 Angular
      有關的文章、課程、影片，或是提出任何相關 Angular 相關的問題與討論。</p>
  </div>
</div>
<!-- partial -->

<!-- partial:partial/_circle-type.html -->
<div class="circle-type">
  <div class="container">
    <div class="col-md-4 item">
      <div class="photo">
        <img src="assets/img/img1.jpg">
      </div>
      <h4>MOBILE DESIGN</h4>
      <p>Lorem ipsum dolor sit amet, mutat graeco volumus ad eam, singulis patrioque comprehensam nam no. Mei cu dicat voluptaria
        volumus.
      </p>
    </div>
    <div class="col-md-4 item">
      <div class="photo">
        <img src="assets/img/img2.jpg">
      </div>
      <h4>MOBILE DESIGN</h4>
      <p>Lorem ipsum dolor sit amet, mutat graeco volumus ad eam, singulis patrioque comprehensam nam no. Mei cu dicat voluptaria
        volumus.
      </p>
    </div>
    <div class="col-md-4 item">
      <div class="photo">
        <img src="assets/img/img3.jpg">
      </div>
      <h4>MOBILE DESIGN</h4>
      <p>Lorem ipsum dolor sit amet, mutat graeco volumus ad eam, singulis patrioque comprehensam nam no. Mei cu dicat voluptaria
        volumus.
      </p>
    </div>
  </div>
</div>
<!-- partial -->

<!-- partial:partial/_square-type.html -->
<div class="square-type">
  <div class="container">
    <p class="title">社群成員</p>
    <p>AUGT 的社群成員，是由一群熱愛 Angular 的朋友所組成的，他們樂意分享自己在開發過程中遇到的各種經驗，並且不希望其他人再次遇到相同的困難，浪費美好的人生。 若你也樂意分享且有相同的心情或抱負，歡迎加入！
    </p>
    <div class="row content">
      <div class="col-sm-6 col-md-3 item">
        <div class="photo"><img src="assets/img/will.jpg"></div>
        <p>Will 保哥</p>
        <p>多奇數位創意 技術總監</p>
      </div>
      <div class="col-sm-6 col-md-3 item">
        <div class="photo"><img src="assets/img/kevin.jpg"></div>
        <p>Kevin Yang</p>
        <p>不務正業熱血工程師</p>
      </div>
      <div class="col-sm-6 col-md-3 item">
        <div class="photo"><img src="assets/img/jeff.jpg"></div>
        <p>Jeff ( 阿魯 )</p>
        <p>熱血前端工程師</p>
      </div>
      <div class="col-sm-6 col-md-3 item">
        <div class="photo"><img src="assets/img/boat.jpg"></div>
        <p>募集中</p>
        <p>快來一起跳坑！！</p>
      </div>
    </div>
    <p class="title">社群成員熱血招募中！！</p>
  </div>
</div>
<!-- partial -->

<!-- partial:partial/_photos.html -->
<div class="photos">
  <div class="container">
    <p class="title">活動花絮與影片</p>
    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consectetur, adipisci velit, sed quia non numquam.</p>
    <div class="row btn-wrap">
      <div class="col-xs-6 col-sm-3 item"><a href="#" class="btn active">ALL</a></div>
      <div class="col-xs-6 col-sm-3 item"><a href="#" class="btn">MOBILE</a></div>
      <div class="col-xs-6 col-sm-3 item"><a href="#" class="btn">WEB</a></div>
      <div class="col-xs-6 col-sm-3 item"><a href="#" class="btn">VR</a></div>
    </div>
    <div class="row photo-wrap">
      <div class="col-sm-6 col-md-4 photo-item">
        <div class="img"></div>
      </div>
      <div class="col-sm-6 col-md-4 photo-item">
        <div class="img"></div>
      </div>
      <div class="col-sm-6 col-md-4 photo-item">
        <div class="img"></div>
      </div>
      <div class="col-sm-6 col-md-4 photo-item">
        <div class="img"></div>
      </div>
      <div class="col-sm-6 col-md-4 photo-item">
        <div class="img"></div>
      </div>
      <div class="col-sm-6 col-md-4 photo-item">
        <div class="img"></div>
      </div>
    </div>
  </div>
</div>
<!-- partial -->

<div class="circle-single">
  <div class="container">
    <p class="title">“Nunc velit risus, dapibus non interdum quis, suscipit nec dolor.”</p>
    <div class="photo"></div>
    <p>Greg Frost</p>
    <p>CEO, ABC</p>
  </div>
</div>

<!-- partial:partial/_contact.html -->
<div class="contact">
  <div class="container">
    <p class="title">連絡我們</p>
    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor</p>
    <input placeholder="First Name" class="input">
    <input placeholder="Last Name" class="input">
    <input placeholder="E-Mail Address" class="input">
    <textarea rows="5" cols="3" placeholder="Message" class="input"></textarea>
  </div>
</div>
<!-- partial -->
