.banner {
    height: calc(100vh - 200px);
    background: url(../img/banner-o.jpg) center bottom/cover no-repeat;
    margin-top: 80px;
    .content {
        width: 75%;
        max-width: 850px;
        // background: rgba(0, 0, 0, 0.3);
        background-color: linear-gradient(to bottom, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
        color: #828282;
        margin: 0 auto;
        padding: 25px 20px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        font-size: 18px;
        line-height: 1.7em;
        h2 {
            margin: 0 0 20px;
            font-size: 36px;
            font-weight: bold;
            color: #3cada6;
        }
        h4 {
          margin-top: 20px;
        }
    }
}

@media(max-width: 991px) {
  .banner {
    margin-top: 60px;
  }
}
@media(max-width: 480px) {
    .banner {
        height: 400px;
        .content {
            width: 90%;
            padding: 20px 15px;
            font-size: 14px;
            line-height: 1.5em;
            h2 {
                font-size: 24px;
                margin-bottom: 10px;
            }
            h3 {
              font-size: 18px;
              margin-top: 10px;
            }
            h4 {
              font-size: 16px;
              margin-top: 15px;
            }
            .btn-white {
              width: 100%;
              font-size: 14px;
            }
        }
    }
}
