.btn {
    max-width: 100%;
    background: none;
    border: solid 2px $orange;
    color: $orange;
    border-radius: 0;
    padding: 10px 20px;
    box-shadow: none;
    text-align: center;
    &.active, &:hover, &:focus {
        background: $orange;
        color: white;
        box-shadow: none;
    }
}

.btn-white {
  border:  solid 2px white;
  color: white;
  &:active, &:hover, &:focus {
    background: white;
    color: #444444;
  }
}

.btn-blulegreen {
  border:  solid 2px $bluegreen;
  color: $bluegreen;
  &:active, &:hover, &:focus {
    background: $bluegreen;
    color: white;
  }
}

