.contact {
    text-align: center;
    font-size: 16px;
    padding: 80px 0;
    .title {
        font-size: 32px;
        margin-bottom: 10px;
         opacity: 1;
    }
    p {
        max-width: 780px;
        margin: 0 auto 70px;
        opacity: 0.7;
    }
    .input {
        width: 100%;
        max-width: 550px;
        background: #e2e2e2;
        border: none;
        padding: 15px 25px;
        line-height: 1em;
        display: block;
        margin: 15px auto;
        outline: none;
    }
}

@media (max-width: 991px) {
    .contact {
        padding: 50px 0;
        p {
            margin-bottom: 30px;
        }
    }
}