header {
    background: $bluegreen;
    padding: 15px 10px 10px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    .logo {
        width: 185px;
        height: 50px;
        display: inline-block;
        margin: 0;
        background: url(../img/logo.svg) 0 0 no-repeat;
        background-size: 100%;
    }
    .menu {
        float: right;
        li {
            display: inline-block;
            font-size: 18px;
            padding: 0 20px;
            a {
                color: white;
                padding: 15px 0;
                display: inline-block;
                position: relative;
                &:after {
                    content: '';
                    display: inline-block;
                    width: 40px;
                    height: 2px;
                    -webkit-transition: all .25s ease-in;
                    transition: all .25s ease-in;
                    background: white;
                    opacity: 0;
                    position: absolute;
                    bottom: 10px;
                    left: 50%;
                    transform: translateX(-50%);
                }
                &:hover {
                    text-decoration: none;
                    &:after {
                        opacity: 0.4;
                    }
                }
            }
            &:last-child {
                padding-right: 0;
            }
        }
    }
    .burger {
        float: right;
        width: 18px;
        height: 12px;
        cursor: pointer;
        background: url(../img/burger.svg) center center no-repeat;
        padding: 20px 15px;
    }
    .menu-mobile {
        height: 100vh;
        font-size: 18px;
        width: 100%;
        background: $deepblue;
        position: fixed;
        top: 0;
        right: -100%;
        padding-top: 60px;
        z-index: 1000;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        a {
            width: 100%;
            color: white;
            padding: 20px 25px;
            display: inline-block;
            text-align: center;
            &:hover {
                text-decoration: none;
            }
        }
        .close-btn {
            font-size: 30px;
            color: white;
            position: absolute;
            right: 15px;
            top: 10px;
            opacity: 0.8;
            cursor: pointer;
            background: url(../img/close.svg) center center no-repeat;
            padding: 20px 15px;
        }
        &.active {
            right: 0;
        }
    }

}

@media(max-width: 991px) {
    header {
        padding: 10px 0px 5px;
        .logo {
            width: 150px;
            height: 40px;
        }
    }
}
