<footer>
  <div class="container" *augtHideDuringEvent>
    <div class="row web">
      <div class="col-md-3">
        <ul>
          <p>HOME</p>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Testimonials</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul>
          <p>MISSION</p>
          <li><a href="#">Goals</a></li>
          <li><a href="#">Achievements</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul>
          <p>OUR PHILOSOPHY</p>
          <li><a href="#">Our Values</a></li>
          <li><a href="#">Our Beliefs</a></li>
          <li><a href="#">Our Beliefs</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul>
          <p>RESEARCH</p>
          <li><a href="#">Future Plans</a></li>
          <li><a href="#">Case Studies</a></li>
          <li><a href="#">Technology</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-menu-mobile mobile">
      <div class="item">
        <h5 class="title" id="footer-home">HOME<img src="assets/img/close.svg" class="footer-close"></h5>
        <ul class="footer-list footer-home">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Testimonials</a></li>
        </ul>
      </div>
      <div class="item">
        <h5 class="title" id="footer-mission">MISSION<img src="assets/img/close.svg" class="footer-close"></h5>
        <ul class="footer-list footer-mission">
          <li><a href="#">Goals</a></li>
          <li><a href="#">Achievements</a></li>
        </ul>
      </div>
      <div class="item">
        <h5 class="title" id="footer-philosophy">OUR PHILOSOPHY<img src="assets/img/close.svg" class="footer-close"></h5>
        <ul class="footer-list footer-philosophy">
          <li><a href="#">Our Values</a></li>
          <li><a href="#">Our Beliefs</a></li>
          <li><a href="#">Our Beliefs</a></li>
        </ul>
      </div>
      <div class="item">
        <h5 class="title" id="footer-research">RESEARCH<img src="assets/img/close.svg" class="footer-close"></h5>
        <ul class="footer-list footer-research">
          <li><a href="#">Future Plans</a></li>
          <li><a href="#">Case Studies</a></li>
          <li><a href="#">Technology</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="share">
    <a href="https://www.facebook.com/groups/augularjs.tw/" class="share-btn share-fb" target="_blank">
      <span class="fb-icon"></span>
      <span class="fb-icon-h"></span>
    </a>
    <a href="https://www.youtube.com/c/AngularUserGroupTaiwan" class="share-btn share-youtube" target="_blank">
      <span class="youtube-icon"></span>
      <span class="youtube-icon-h"></span>
    </a>
    <a href="https://telegram.me/angulartw" class="share-btn share-telegram" target="_blank">
      <span class="telegram-icon"></span>
      <span class="telegram-icon-h"></span>
    </a>
    <a href="https://github.com/augt" class="share-btn share-github" target="_blank">
      <span class="github-icon"></span>
      <span class="github-icon-h"></span>
    </a>
  </div>
  <p class="copyright">Copyright @ 2017 by Angular User Group Taiwan</p>
</footer>
