.news {
    padding: 50px 0;
    p {
        max-width: 570px;
        margin: 0 auto 5px;
        font-size: 16px;
    }
    .title {
      font-size: 32px;
      margin-bottom: 40px;
    }
    .btn {
        margin-top: 30px;
    }
}

.schedule{
  .table .speaker{
     font-size: 16px;
     float: right;
     min-height: 80px;
     margin-left: 20px;
     color: #de6d48;
  }
  .table .title{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }
}
