<!-- partial:partial/_header.html -->
<header>
  <div class="container">
    <a routerLink="/" class="logo"></a>
    <ul class="menu web" *augtHideDuringEvent>
      <li><a routerLink="/about">關於我們</a></li>
      <li><a routerLink="/activity">近期活動</a></li>
      <li><a routerLink="/history">歷來活動</a></li>
      <li><a routerLink="/study">線上讀書會</a></li>
      <li><a routerLink="/online">線上直播</a></li>
      <li><a href="https://forum.angular.tw/" target="_blank">討論區</a></li>
    </ul>
    <span class="burger mobile" *augtHideDuringEvent></span>
    <ul class="menu-mobile mobile" *augtHideDuringEvent>
      <span class="close-btn"></span>
      <li><a routerLink="/about">關於我們</a></li>
      <li><a routerLink="/activity">近期活動</a></li>
      <li><a routerLink="/history">歷來活動</a></li>
      <li><a routerLink="/study">線上讀書會</a></li>
      <li><a routerLink="/online">線上直播</a></li>
      <li><a href="https://forum.angular.tw/" target="_blank">討論區</a></li>
    </ul>
  </div>
</header>
<!-- partial -->
